body{
	text-align: center;
	font-family: Helvetica;
}
.header{
	background-image: url("../images/the-flatiron-building.png");
	color: white;
}
.footer{
	background-color: dimgray;
	text-align: left;
}
.break{
	background-image: url("../images/the-flatiron-building.png");
	color: white;
}
.navigation{
	font-size: 18px;
	color: white;
}
h1{
	font-size: 70px;
	font-weight:bold;
}
h2{
	font-size: 32px;
	font-weight: bold;
}
h3{
	font-size: 23px;
	font-weight: bold;
}
#copyright{
	color: white;
	font-size:11px;
}